
<div class="wrapper cart-container container-custom">
<div class="wrap wrap-shoe-custom">
  <section class="transparent">
    <div class="container-shoe-custom">
    <div class="main-img-custom">
        <div class="img-custom-1 open-img-custom-1">
                <img class="af1-custom-images" src="/images/shoetype1.png" alt="">
                <div class="main-swooth-custom close-main-swooth-custom"></div>
                <div class="main-midsole-custom close-main-midsole-custom"></div>
                <div class="main-middle-custom close-main-middle-custom"></div>
                <div class="main-head-custom close-main-head-custom"></div>
                <div class="main-back-custom close-main-back-custom"></div>
                <div class="main-backward-custom close-main-backward-custom"></div>
        </div>
      </div>
      <div class="diversion-shoe">
        <div class="swooth"><img src="/images/smooth.png" alt=""></div>
        <div class="midsole"><img src="/images/midsole.png" alt=""></div>
        <div class="middle"><img src="/images/middle.png" alt=""></div>
        <div class="head"><img src="/images/head.png" alt=""></div>
        <div class="back"><img src="/images/back.png" alt=""></div>
        <div class="backward"><img src="/images/backward.png" alt=""></div>
      </div>
            <div class="custom-color-board">
                <form method="POST" action="/shoe/store-custom">
                    <input class="color-list" name="swoothColor" id="color-swooth" type="color">
                    <input class="color-list" name="midsoleColor" id="color-midsole" type="color">
                    <input class="color-list" name="middleColor" id="color-middle" type="color">
                    <input class="color-list" name="headColor" id="color-head" type="color">
                    <input class="color-list" name="backColor" id="color-back" type="color">
                    <input class="color-list" name="backwardColor" id="color-backward" type="color">
                    <button>Save</button>
                    <button class="cancle-reload" type="button">Cancle reload</button>
                    <button class="cancle-realtime" type="button">Cancle realtime</button>
                </form>
            </div>
    </div>
    </section>
   </div>
</div>

<script>
    $('.cancle-reload').click(()=>{
        location.reload();
    })
  
    $('.cancle-realtime').click(()=>{
       $('.img-custom-1 div').removeAttr('style').hide()
       
    })

    $('.diversion-shoe div').on('click', function(){
     var shoePart = $(this).attr('class')
     $('.main-' + shoePart + '-custom').attr('class', 'main-' + shoePart + '-custom').show()
     $('input[name ="' + shoePart + 'Color"]').trigger('click')
     $('#color-' + shoePart).on('input', function(){     
        $('.main-' + shoePart + '-custom').attr('active','true').attr('style', 'background-color:' + $(this).val())
     })
    })

    $('.diversion-shoe div').mouseover( function() {
        var shoePart = $(this).attr('class')
        var isEditable = $('.main-' + shoePart + '-custom').attr('active')
        console.log(isEditable)
        $('.main-' + shoePart + '-custom').attr('class', 'main-' + shoePart + '-custom').show()
        $(this).mouseout(()=>{
            var ele = $('.main-' + shoePart + '-custom').attr('class', 'main-' + shoePart + '-custom')
            if(isEditable == 'true') ele.show()
            else ele.hide()
        })
    })
    
</script>

