<div class="wrapper cart-container container-custom">
<div class="wrap">
  <section class="transparent">
      <div class="img-custom-1 open-img-custom-1">
          <img src="/images/shoetype1.png" alt="">
      </div>
      <div class="img-custom-2 open-img-custom-2">
          <img src="/images/shoetype2.png" alt="">
      </div>
      <div class="img-custom-3 open-img-custom-3">
          <img src="/images/shoetype3.png" alt="">
      </div>
      <div class="custom-color-board">
        <div class="color-board-red"><button></button></div>
        <div class="color-board-orange"><button></button></div>
        <div class="color-board-yellow"><button></button></div>
        <div class="color-board-green"><button></button></div>
        <div class="color-board-blue"><button></button></div>
        <div class="color-board-indigo"><button></button></div>
        <div class="color-board-violet"><button></button></div>
      </div>
      <div class="Diversion-shoe">
          <div class="shoe-type-1">
              <img src="/images/shoetype1.png" alt="">
          </div>
          <div class="shoe-type-2">
              <img src="/images/shoetype2.png" alt="">
          </div>
          <div class="shoe-type-3">
              <img src="/images/shoetype3.png" alt="">
          </div>
      </div>
      <div class="part-of-af1">
        <div></div>
      </div>
  </section> 
</div>
</div>

<script>
    var shoeType1= document.querySelector('.shoe-type-1')
    var shoeType2= document.querySelector('.shoe-type-2')
    var shoeType3= document.querySelector('.shoe-type-3')
    var openImgCustom1=document.querySelector('.open-img-custom-1')
    var openImgCustom2=document.querySelector('.open-img-custom-2')
    var openImgCustom3=document.querySelector('.open-img-custom-3')
    shoeType2.addEventListener('click', function(){
        openImgCustom2.classList.remove('open-img-custom-2')
        openImgCustom3.classList.add('open-img-custom-3')
        openImgCustom1.setAttribute('style', 'display:none')
    })
    shoeType3.addEventListener('click', function(){
        openImgCustom3.classList.remove('open-img-custom-3')
        openImgCustom1.setAttribute('style', 'display:none')
        openImgCustom2.classList.add('open-img-custom-2')
    })
    shoeType1.addEventListener('click', function(){
        openImgCustom2.classList.add('open-img-custom-2')
        openImgCustom3.classList.add('open-img-custom-3')
        openImgCustom1.setAttribute('style', 'display:block')

    })
</script>