
<div class="wrapper cart-container container-custom">
<div class="wrap wrap-shoe-custom">
  <section class="transparent">
    <div class="container-shoe-custom">
    <div class="main-img-custom">
        <div class="img-custom-1 open-img-custom-1">
                <img class="af1-custom-images" src="/images/shoetype1.png" alt="">
                <div class="main-swooth-custom close-main-swooth-custom"></div>
                <div class="main-midsole-custom close-main-midsole-custom"></div>
                <div class="main-middle-custom close-main-middle-custom"></div>
                <div class="main-head-custom close-main-head-custom"></div>
                <div class="main-back-custom close-main-back-custom"></div>
                <div class="main-backward-custom close-main-backward-custom"></div>
        </div>
      </div>
        <div class="diversion-shoe card-carousel">
            <div id="swooth" class="my-card"><img src="/images/smooth.png" alt=""></div>
            <div id="midsole" class="my-card"><img src="/images/midsole.png" alt=""></div>
            <div id="middle" class="my-card"><img src="/images/middle.png" alt=""></div>
            <div id="head" class="my-card"><img src="/images/head.png" alt=""></div>
            <div id="back" class="my-card"><img src="/images/back.png" alt=""></div>
            <div id="backward" class="my-card"><img src="/images/backward.png" alt=""></div>
        </div>
        <div class="custom-color-board">
            <form method="POST" action="/shoe/store-custom">
                <input class="color-list" name="swoothColor" id="color-swooth" type="color">
                <input class="color-list" name="midsoleColor" id="color-midsole" type="color">
                <input class="color-list" name="middleColor" id="color-middle" type="color">
                <input class="color-list" name="headColor" id="color-head" type="color">
                <input class="color-list" name="backColor" id="color-back" type="color">
                <input class="color-list" name="backwardColor" id="color-backward" type="color">
                <div class="btn-of-custom mt-4">
<<<<<<< HEAD
                <button class="cancle-realtime btn btn-danger">Cancle</button>
                <button class="cancle-reload btn btn-secondary">Undo</button>
                <button class="btn btn-success">Save</button>
=======
                    <button class="cancle-realtime btn btn-danger">Cancle</button>
                    <button class="cancle-reload btn btn-secondary">Undo</button>
                    <button type="button" class="btn-save btn btn-success">Save</button>
>>>>>>> 4b93edb26a9c6e0bb6ae90081e0f89adc694f152
                </div>
            </form>
        </div>
    </section>
   </div>
</div>

<script>

    $('.btn-save').click(() => {
        var swoothColor, midsoleColor, middleColor, headColor, backColor, backwardColor
        var swoothEle = $('.main-swooth-custom')
        var midsoleEle = $('.main-midsole-custom')
        var middleEle = $('.main-middle-custom')
        var headEle = $('.main-head-custom')
        var backEle = $('.main-back-custom')
        var backwardEle = $('.main-backward-custom')

        if(typeof swoothEle.attr('style') !== 'undefined' && 
                    swoothEle.attr('style') !== false){
            swoothColor = swoothEle.css('background-color')
            } else swoothColor = null

        if(typeof midsoleEle.attr('style') !== 'undefined' && 
                    midsoleEle.attr('style') !== false){
            midsoleColor = midsoleEle.css('background-color')
            } else midsoleColor = null

        if(typeof middleEle.attr('style') !== 'undefined' && 
                middleEle.attr('style') !== false){
        middleColor = middleEle.css('background-color')
        } else middleColor = null

        if(typeof headEle.attr('style') !== 'undefined' && 
                headEle.attr('style') !== false){
        headColor = headEle.css('background-color')
        } else headColor = null

        if(typeof backEle.attr('style') !== 'undefined' && 
                backEle.attr('style') !== false){
        backColor = backEle.css('background-color')
        } else backColor = null

        if(typeof backwardEle.attr('style') !== 'undefined' && 
                backwardEle.attr('style') !== false){
        backwardColor = backwardEle.css('background-color')
        } else backwardColor = null

        const data = {
            swoothColor: swoothColor,
            midsoleColor: midsoleColor,
            middleColor: middleColor,
            headColor: headColor,
            backColor: backColor,
            backwardColor: backwardColor,
        }
        $.ajax({
            method:'post',
            url: '/shoe/store-custom',
            data: data
        })
    })

    $('.cancle-reload').click(()=>{
        location.reload();
    })
  
    $('.cancle-realtime').click(()=>{
       $('.img-custom-1 div').removeAttr('style').hide()
    })

    $('.diversion-shoe div').on('click', function(){
     var shoePart = $(this).attr('id')
     var colorCustom = $('.main-' + shoePart + '-custom')

     colorCustom.attr('class', 'main-' + shoePart + '-custom').removeClass('d-none')
     $('input[name ="' + shoePart + 'Color"]').trigger('click')
<<<<<<< HEAD
     $('#color-' + shoePart).on('input', function(){
        $('.main-' + shoePart + '-custom').attr('style', 'background-color:' + $(this).val())
=======
     $('#color-' + shoePart).on('input', function(){     
        colorCustom.attr('active','true').attr('style', 'background-color:' + $(this).val()).removeClass('d-none')
>>>>>>> 4b93edb26a9c6e0bb6ae90081e0f89adc694f152
     })
    })

    $('.diversion-shoe div').mouseover( function() {
        var shoePart = $(this).attr('id')
        var isEditable = $('.main-' + shoePart + '-custom').attr('active')
        $('.main-' + shoePart + '-custom').attr('class', 'main-' + shoePart + '-custom').removeClass('d-none')
        $(this).mouseout(()=>{
            var ele = $('.main-' + shoePart + '-custom').attr('class', 'main-' + shoePart + '-custom')
            if(isEditable == 'true') ele.removeClass('d-none')
            else ele.addClass('d-none')
        })
    })


    
    // CARD CARSOUSEL 
 

    $('.my-card:nth-child(1)').addClass('active');
    $('.my-card:nth-child(1)').prevAll().addClass('prev');
    $('.my-card:nth-child(1)').nextAll().addClass('next');


    $('.my-card').mouseover(function() {
      $(this).addClass('active');
      $(this).removeClass('prev next');
      $(this).siblings().removeClass('active prev next')
      $(this).prevAll().addClass('prev')
      $(this).nextAll().addClass('next')

    });


    // Keyboard nav
    {{!-- $('html body').keydown(function(e) {
    if (e.keyCode == 37) { // left
        $('.active').prev().trigger('click');
    }
    else if (e.keyCode == 39) { // right
        $('.active').next().trigger('click');
    }
    }); --}}
</script>


