
<div class="wrapper cart-container container-custom">
<div class="wrap wrap-shoe-custom">
  <section class="transparent">
    <div class="container-shoe-custom">
    <div class="main-img-custom">
        <div class="img-custom-1 open-img-custom-1">
                <img class="af1-custom-images" src="/images/shoetype1.png" alt="">
             <div class="main-swooth-custom close-main-swooth-custom">
             </div>
             <div class="main-midsole-custom close-main-midsole-custom">
                <img src="/images/midsole.png" alt="">
             </div>
             <div class="main-middle-custom close-main-middle-custom">
                <img src="/images/middle.png" alt="">
             </div>
        </div>
      </div>
      <div class="diversion-shoe">
        <div class="swooth"><img src="/images/smooth.png" alt=""></div>
        <div class="midsole"><img src="/images/midsole.png" alt=""></div>
        <div class="middle"><img src="/images/middle.png" alt=""></div>
        <div class="head"><img src="/images/head.png" alt=""></div>
        <div class="back"><img src="/images/back.png" alt=""></div>
        <div class="backward"><img src="/images/backward.png" alt=""></div>
      </div>
            <div class="custom-color-board">
                <div id="red" class="color-list"></div>
                <div id="orange" class="color-list"></div>
                <div id="yellow" class="color-list"></div>
                <div id="green" class="color-list"></div>
                <div id="blue" class="color-list"></div>
                <div id="indigo" class="color-list"></div>
                <div id="violet" class="color-list"></div>
            </div>
    </div>
    </section>
   </div>
</div>

<script>
    var swooth= document.querySelector('.swooth')
    const colorList= document.querySelectorAll('.color-list')
    var color='color-red'

    colorList.forEach(item =>{
        item.addEventListener('click', function(){
            const idColor=this.id;
            console.log(idColor)
            document.querySelector('.main-swooth-custom').style.color=idColor
            $('.main-swooth-custom').attr('color', 'red')
        })
    })

    {{!-- swooth.onclick= function(){
        mainSwoothCustom.classList.remove('close-main-swooth-custom')
        
        colorBoardRed.onclick= function(){
            mainSwoothCustom.classList.add(color)
        }
    }
    midsole.onclick=function(){
        mainMidsoleCustom.classList.remove('close-main-midsole-custom')
        colorBoardRed.onclick= function(){
            mainMidsoleCustom.classList.add('img-color-red')
        }
    } --}}
</script>

