<div class="wrapper cart-container container-custom">
<div class="wrap">
  <section class="transparent">
      <div class="img-custom">
          <img src="https://dqshop.vn/wp-content/uploads/2020/10/giay-nike-air-force-1-low-shadow-white-rep-11-dep-chat-5-600x600-1.png" alt="">
      </div>
      <div class="Diversion-shoe">
          <div class="shoe-type">
              <img src="https://dqshop.vn/wp-content/uploads/2020/10/giay-nike-air-force-1-low-shadow-white-rep-11-dep-chat-5-600x600-1.png" alt="">
          </div>
          <div class="shoe-type">
              <img src="https://static.nike.com/a/images/t_PDP_1280_v1/f_auto,q_auto:eco/b01c67f2-2481-45d7-b383-a1476d768f6e/air-force-1-07-next-nature-shoes-cg65FM.png" alt="">
          </div>
          <div class="shoe-type">
              <img src="https://static.nike.com/a/images/t_PDP_1280_v1/f_auto,q_auto:eco/82d3e348-00ac-4bb4-98a7-6c236f5dcb71/air-force-1-07-craft-mens-shoes-CL8Zfx.png" alt="">
          </div>
      </div>
  </section> 
  
</div>
</div>