
<div class="wrapper cart-container container-custom">
<div class="wrap wrap-shoe-custom">
  <section class="transparent">
    <div class="container-shoe-custom">
    <div class="main-img-custom">
        <div class="img-custom-1 open-img-custom-1">
                <img class="af1-custom-images" src="/images/shoetype1.png" alt="">
                <div class="main-swooth-custom d-none"></div>
                <div class="main-midsole-custom d-none"></div>
                <div class="main-middle-custom d-none"></div>
                <div class="main-head-custom d-none"></div>
                <div class="main-back-custom d-none"></div>
                <div class="main-backward-custom d-none"></div>
        </div>
      </div>
        <div class="diversion-shoe card-carousel">
            <div class="my-card"><img src="/images/smooth.png" alt=""></div>
            <div class="my-card"><img src="/images/midsole.png" alt=""></div>
            <div class="my-card"><img src="/images/middle.png" alt=""></div>
            <div class="my-card"><img src="/images/head.png" alt=""></div>
            <div class="my-card"><img src="/images/back.png" alt=""></div>
            <div class="my-card"><img src="/images/backward.png" alt=""></div>
        </div>
        <div class="custom-color-board">
            <form method="POST" action="/shoe/store-custom">
            {{!-- Opacity cho input, position giống cái div, Height for Mobile--}}
                <div class="diversion-shoe-custom card-carousel">
                    <input class="color-list swooth-custom d-block" name="swoothColor" id="swooth" type="color">
                    <input class="color-list midsole-custom d-block" name="midsoleColor" id="midsole" type="color">
                    <input class="color-list middle-custom d-block" name="middleColor" id="middle" type="color">
                    <input class="color-list head-custom d-block" name="headColor" id="head" type="color">
                    <input class="color-list back-custom d-block" name="backColor" id="back" type="color">
                    <input class="color-list backward-custom d-block" name="backwardColor" id="backward" type="color">
                </div>
                <div class="btn-of-custom mt-4">
                    <button class="cancle-realtime btn btn-danger">Cancle</button>
                    <button class="cancle-reload btn btn-secondary">Undo</button>
                    <button class="btn btn-success btn-save">Save</button>
                </div>
            </form>
        </div>
    </section>
   </div>
</div>

<script>
    $('.cancle-reload').click(()=>{
        location.reload();
    })
  
    $('.cancle-realtime').click(()=>{
       $('.img-custom-1 div').removeAttr('style').hide()
    })

    $('.btn-save').click(() => {
        if($('.main-swooth-custom').hasClass('d-none')){
        $('.swooth-custom').remove();
    } 
        if($('.main-midsole-custom').hasClass('d-none')){
        $('.midsole-custom').remove();
    }
        if($('.main-middle-custom').hasClass('d-none')){
        $('.middle-custom').remove();
    }
        if($('.main-head-custom').hasClass('d-none')){
        $('.head-custom').remove();
    }
        if($('.main-back-custom').hasClass('d-none')){
        $('.back-custom').remove();
    }
        if($('.main-backward-custom').hasClass('d-none')){
        $('.backward-custom').remove();
    }
    })
    
    $('.diversion-shoe-custom input').on('click', function(){
     var shoePart = $(this).attr('id')
     $('.main-' + shoePart + '-custom').show()
     $('.' + shoePart + '-custom').on('input', function(){
        $('.main-' + shoePart + '-custom').attr('active','true').attr('style', 'background-color:' + $(this).val()).removeClass('d-none')
     })
    })

    //Check responsive by width
    var minWidth = window.matchMedia("(min-width: 1024px)")
    if(minWidth.matches){ // If > 1024 px
        $('.diversion-shoe-custom input').mouseover( function() {
            var shoePart = $(this).attr('id')
            console.log(shoePart)
            var isEditable = $('.main-' + shoePart + '-custom').attr('active')
            $('.main-' + shoePart + '-custom').removeClass('d-none')
            $(this).mouseout(()=>{
                $('.main-' + shoePart + '-custom').addClass('d-none')
                if(isEditable == 'true') $('.main-' + shoePart + '-custom').removeClass('d-none')
                else $('.main-' + shoePart + '-custom').addClass('d-none')
            })
        })
    }
    // CARD CARSOUSEL 
 

    {{!-- $('.my-card:nth-child(1)').addClass('active');
    $('.my-card:nth-child(1)').prevAll().addClass('prev');
    $('.my-card:nth-child(1)').nextAll().addClass('next');
 --}}

    {{!-- $('.my-card').mouseover(function() {
      $(this).addClass('active');
      $(this).removeClass('prev next');
      $(this).siblings().removeClass('active prev next')
      $(this).prevAll().addClass('prev')
      $(this).nextAll().addClass('next')

    }); --}}
</script>


