<div class="wrapper detail-shoe-container">
    <section id="shoe-detail">
        <div class="row">
            <div class="col-9">
                <img src="../uploads/{{shoeDetail.image}}" alt="{{shoeDetail.name}}">
            </div>

            <div class="col-3">
                <span>New arrival</span>
                <h1>SOLOMON MIDI SKIRT IN WHITE</h1>
                <h1>1.250.000 VN</h1>
                <h3>
                Back in the sunshine with the skirt’s leisurely yet sophisticated new styles. Solomon Midi Skirt from the Resort 2022 Collection.
                </h3>

                <div class="row">
                    <div class="col-8">
                        <span>size</span>
                        {{!-- <option name="size">
                            <select selected>36</select>
                            <select>37</select>
                            <select>38</select>
                            <select>39</select>
                            <select>40</select>
                        </option> --}}
                        <div id="size-options">
                            <a href="#" class="active">36</a>
                            <a href="#" class="disabled">37</a>
                            <a href="#">38</a>
                            <a href="#">39</a>
                            <a href="#">40</a>
                        </div>
                    </div>

                    <div class="col-4">
                        <span>colour</span>
                        <i class="fa fa-circle"></i>
                    </div>

                    <a href="#"><i class="fa fa-globe"></i> size guide</a>

                    <button class="btn btn-outline-light">pre-order</button>

                    <h3>
                        *All pre-orders will take 30 working days for preparation. Once your pre-orders are ready, you will receive an email for confirmation with tracking information. More detail <a href="#">click here</a>.
                    </h3>

                    <ul>
                        <li>
                            PRODUCT DETAILS
                            <ul>
                                <li>name</li>
                                <li>type</li>
                                <li>brand</li>
                                <li>bestseller</li>
                                <li>created date</li>
                            </ul>
                        </li>
                        <li>SIZE & FIT</li>
                        <li>
                            Delivery within Vietnam:
                            <ul>
                                <li>Shipping within HCMC – 30,000VND.</li>
                                <li>Shipping outside HCMC – 40,000VND.</li>
                            </ul>
                            Delivery outside of Vietnam:
                            <ul>
                                <li>Standard shipping – From $26</li>
                                <li>Free standard shipping on orders over $500</li>
                            </ul>
                            Easy 14 days return from the delivery date. No return available for sale products.
                            Read more <a href="#">SHIPPING & RETURNS</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="another-shoe-detail">

    </section>
</div>