// ================== Main definition for page =======================
$maincolor: rgb(208,1,9);
@import url(//db.onlinewebfonts.com/c/1fed4454352f201d52b65ca5480afb2d?family=Playlist);
@font-face {font-family: "Playlist"; 
  src: url("//db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.eot"); 
  src: url("//db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.eot?#iefix") format("embedded-opentype"), 
  url("//db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.woff2") format("woff2"), 
  url("//db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.woff") format("woff"), 
  url("//db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.ttf") format("truetype"), 
  url("//db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.svg#Playlist") format("svg"); 
}
@import "header.scss";
@import "index.scss";
@import "footer.scss";
@import "error.scss";
@import "login.scss";
@import "register.scss";
@import "detail.scss";
@import "adminPage.scss";
@import "shoeIndex.scss";
@import "userProfile.scss";
@import "shoeCustom.scss";
@import "shoeCustomList.scss";
@import "accountLayout.scss";


@font-face {
  font-family: 'FuturaLight';
  src: url('/fonts/futurasmalllight/Futura-SC-T-OT-Light_19038.ttf')  format('truetype'),
}

@font-face {
  font-family: 'GroovedPersonalUseRegular';
  src: url('/fonts/GroovedPersonalUseRegular/GROOVEDPERSONALUSE.ttf')  format('truetype'),
}

@font-face {
  font-family: 'Sofia';
  src: url('/fonts/sofia/Sofia Pro Regular.ttf')  format('truetype'),
}
  
tr:nth-child(even) {
  background: rgb(235, 235, 235);
}

tbody tr:hover{
  color: $maincolor;
  cursor: default;
}

// accoundLayout.scss
