// =================================================================
// ================ REGISTER =============================

.register-sidenav {
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 20px;
    animation-duration: 6s;
    animation-iteration-count: 1;
    position: relative;
  }
  
  
  .register-main {
    padding: 0 60px;
  }
  
  @media screen and (max-height: 450px) {
    .register-sidenav {
        padding-top: 15px;
    }
  }
  
  @media screen and (max-width: 450px) {
    .register-form{
        margin-top: 10%;
    }
  
  }
  
  @media screen and (min-width: 768px){
    .register-main{
        margin-right: 40%; 
        width: 80%;
    }
  
    .register-sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        bottom: 0;
        right: 0;
    }
  
    .register-form{
        margin-top: 35%;
    }
  }
  
  
  .register-main-text{
    margin-top: 50%;
    padding: 60px;
    color: #fff;
  }
  
  .register-main-text h2{
    font-weight: 300;
    font-size: 70px;
  }
  
  
  // ================ End REGISTER =============================
  
  .register-sidenav:hover,
  .login-sidenav:hover {
    background-color: rgb(35, 34, 34);
    cursor: pointer;
  }
  
  .register-sidenav:hover span,
  .login-sidenav:hover span{
    color:red
  }
  
  .login-section{
    opacity: 0;
  }
  
  .register-section{
    opacity: 1;
  }
  
  .register-form label,
  .login-form label {
    color: #fff;
    font-size: 20px;
  }
  
  .form-check-label{
    margin-top: -8px;
  }
  
  .form-check-label i {
    font-size: 15px;
  }
  
  .login-form a{
    color: lightgray;
    font-weight: bold;
  }
  
  .login-form a:hover{
    color: white;
    text-decoration: underline
  }