 // =============== /shoe INDEX ======================
 .wrapper.shoe-index{
    margin-top: 10px;
    font-family: 'Sofia';
    background: white;
  }
    .wrapper.shoe-index section{
      background: white;
      text-align: left;
      padding-top: 120px;
    }
  
    .shoe-index .left-list{
      text-transform: uppercase;
    }
      .shoe-index .left-list ul li{
        border: 0;
        font-size: 0.8rem;
        line-height: 1.5rem;
        letter-spacing: 0.06rem;
      }
        .shoe-index .left-list ul li:hover{
          text-decoration: underline;
          cursor: pointer;
          color: $maincolor;
        }
        .shoe-index .left-list h2{
          font-size: 1rem;
          color:rgb(131, 128, 128);
          cursor: default;
        }
        .shoe-index .shoe-list img{
          height: 60vh;
          width: 100%;
          object-fit: scale-down;
          padding-bottom: 30px;
        }
        .shoe-index .shoe-list .overlay-shoe-list{
          text-align: left;
          background-color: inherit;
          color: black;
          font-size: 14px;
          font-weight: 100;
          text-transform: uppercase;
          letter-spacing: 1.5px;
        }
          .shoe-index .shoe-list .overlay-shoe-list .fa
          // .responsive-left-list .fa
          {
            -webkit-text-stroke: 0.8px white;
          }
        .shoe-list-detail h1{
          font-size: 1em;
        }
        .shoe-list-detail h2{
          font-size: 0.8em;
          font-weight: 100;
          color:rgb(32, 32, 32);
        }
        .shoe-list-detail h3{
          font-size: 0.7em;
          color:rgb(90, 89, 89)
        }
          .shoe-list-detail h1:hover{
            color: $maincolor;
            text-decoration: underline;
            cursor: pointer;
          }
  
    .responsive-left-list{
      display: none;
      padding-right: 2rem;
      font-family: 'Sofia';
      text-transform: uppercase;
    }
      .responsive-left-list ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        cursor: pointer;
      }
        .responsive-left-list ul li {
          float: right;
          font-weight: 100;
          font-size: 1.2rem;
          cursor: pointer;
        }
          .responsive-left-list li {
            display: block;
            text-align: left;
            padding: 14px 16px;
            text-decoration: none;
            cursor: pointer;
          }
          .responsive-left-list .selected {
            display: block;
          }
      .responsive-items{
        position: relative;
        width: 100%;
        display: none;
      }
        .responsive-items h2{
          font-size: 1rem;
          cursor: pointer;
        }
        .responsive-items ul{
          display: none;
          cursor: pointer;
        }
          .responsive-items ul li{
            float: none;
            font-size: 0.8rem;
            border: none;
            display: inline-block;
            cursor: pointer;
          }
          
  // @media screen and (max-width: 1440px) {
  //   .shoe-index .shoe-list img{
  //     height: 35vh;
  //     width: 100%;
  //   }
    
  //   .shoe-list-detail{
  //     padding-left: 1.2rem;
  //   }
  // }
  @media screen and (max-width: 1024px) {
    .responsive-left-list{
      display: block;
    }
    .left-list{
      display: none;
    }
    .shoe-index section{
      padding-right: 0;
      padding-left: 25px;
    }
    .shoe-index .shoe-list img{
      height: 34vh;
      width: 100%;
    }
    
    .shoe-list-detail{
      padding-left: 1rem;
    }
  }
  @media screen and (max-width: 450px) {
    .shoe-index .shoe-list img{
      height: 30vh;
      width: 100%;
    }
    
    .shoe-list-detail{
      padding-left: 1rem;
    }
    
    .shoe-list{
      text-align: center;
    }
  }
  // =============== END /shoe INDEX