    
// =============== /shoe/custom =================
.color-red{
  background: red;
}
.color-orange{
  background: orange;
}
.color-yellow{
  background: yellow;
}
.color-green{
  background: green;
}
.color-blue{
  background: blue;
}
.color-indigo{
  background: indigo;
}
.color-violet{
  background: violet;
}
.color-black{
  background: black;
}
.container-custom{
    margin-top: 30px;
    background-color: white;
  }
.wrap-shoe-custom{
  max-width: 1900px;
  min-width: 320px;
}
  .main-img-custom{
    display: flex;
    justify-content: center;
  }
  .img-custom-1{
    position: relative;
    margin-left: 0;
  }
  .af1-custom-images{
    width: 650px;
    height: auto;
  }
  .main-swooth-custom {
      width: 316px;
      height: 83px;
      position: absolute;
      bottom: 44%;
      left: 9%;
      background: red;
      -webkit-mask:url("/images/smooth.png") center/contain;
              mask:url("/images/smooth.png") center/contain;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
  }
  .main-midsole-custom{
    position: absolute;
    bottom: 210px;
    left: 85px;
  }
  .close-main-midsole-custom{
    display: none;
  }
  .main-midsole-custom img{
    width: 480px;
    filter: brightness(0%) saturate(100%);
  }

  
  .main-middle-custom{
    position: absolute;
    bottom: 258px;
    left: 200px;
  }
  .close-main-middle-custom{
    display: none;
  }
  .main-middle-custom img{
    width: 167px;
    filter: brightness(0%) saturate(100%);
  }
  .middle-custom{
    text-align: center;
  }
  .close-main-swooth-custom{
    // display: none;
  }
  .custom-color-board{
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
  }
  .midsole-custom{
    text-align: center;
  }

 

  #red{
    width: 70px;
    height: 25px;
    background-color: red;
  }
  #orange{
    width: 70px;
    height: 25px;
    background-color: orange;
  }
  #yellow{
    width: 70px;
    height: 25px;
    background-color: yellow;
  }
  #green{
    width: 70px;
    height: 25px;
    background-color: green;
  }
  #blue{
    width: 70px;
    height: 25px;
    background-color: blue;
  }
  #indigo{
    width: 70px;
    height: 25px;
    background-color: indigo;
  }
  #violet{
    width: 70px;
    height: 25px;
    background-color: violet;
  }
  .diversion-shoe{
    display: flex;
    justify-content:center;
  }
  .diversion-shoe img{
    width: 200px;
    height: 100px;
  }

  @media  only screen and (max-width:1919) and (min-width:1024px) {
    
    
  }
  @media only screen and (max-width: 600px) {
    .img-custom-1 img{
      width: 300px;
    }
   
  }
  @media only screen and (min-width:350px) and(max-width:599px)  {
    .img-custom-1 img{
      width: 300px;
    }
   
 
  }
  @media only screen and (min-width:320px) and(max-width:350px) {
    .img-custom-1 img{
      width: 300px;
    }
  
  }