
<div class="wrapper">
<div class="wrap">
  
  <div class="arrow animated bounce"></div>

  <section class="create-product-box">
      <form action="/product/store" method="POST">
        <div class="form-group">
            <h2>Tạo sản phẩm mới</h2>

            <label for="name">Tên sản phẩm</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Nhập tên" required>

            <label for="description">Mô tả</label>
            <input type="text" class="form-control" id="description" name="description" placeholder="Nhập mô tả" required>

            <label for="category">Hãng</label>
            <input type="text" class="form-control" id="category" name="category" placeholder="Nhập hãng" required>

            <label for="buff">Số hơi</label>
            <input type="number" class="form-control" id="buff" name="buff" placeholder="1200" required>

            <label for="stock">Số lượng</label>
            <input type="number" class="form-control" id="stock" name="stock" placeholder="1000" required>

            <label for="image">Hình ảnh</label>
            <input type="text" class="form-control" id="image" name="image" placeholder="Link hình ảnh" required>

            <label for="price">Giá</label>
            <input type="number" class="form-control" id="price" name="price" placeholder="200000" required>

            <button class="btn btn-success" type="submit" value="Submit">Hoàn thành</button>
        </div>
      </form>
  </section>
  
</div>
</div>
  

