
<div class="wrapper">
<div class="wrap">
  
  <div class="arrow animated bounce"></div>

  <section class="create-product-box">
      <form action="/product/store" method="POST">
        <div class="form-group">
            <h2>Tạo sản phẩm mới</h2>

            <label for="name">Tên sản phẩm</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Nhập tên" required>

            <label for="description">Mô tả</label>
            <input type="text" class="form-control" id="description" name="description" placeholder="Nhập mô tả" required>

            <label for="category">Hãng</label>
            <select class="form-select" name="category" id="category" aria-label="Category choose">
              <option selected>Chọn hãng</option>
              <option value="Rodeo">Rodeo</option>
              <option value="Nasty">Nasty</option>
              <option value="Balmy">Balmy</option>
              <option value="Minion">Minion</option>
              <option value="Lio">Lio</option>
            </select>

            <label for="buff">Số hơi</label>
            <select class="form-select" name="buff" id="buff" aria-label="Buff choose">
              <option selected>Chọn số hơi</option>
              <option value="1000">1000</option>
              <option value="1200">1200</option>
              <option value="1300">1300</option>
              <option value="1400">1400</option>
              <option value="1500">1500</option>
              <option value="1600">1600</option>
              <option value="1700">1700</option>
              <option value="1800">1800</option>
              <option value="1900">1900</option>
              <option value="2000">1500</option>
            </select>

            {{!-- <label for="buff">Số hơi</label>
            <input type="number" class="form-control" id="buff" name="buff" placeholder="1200" required> --}}

            <label for="stock">Số lượng</label>
            <input type="number" class="form-control" id="stock" name="stock" placeholder="1000" required>

            <label for="image">Hình ảnh</label>
            <input type="text" class="form-control" id="image" name="image" placeholder="Link hình ảnh" required>

            <label for="price">Giá</label>
            <input type="number" class="form-control" id="price" name="price" placeholder="200000" required>

            <button class="btn btn-lg form-control btn-success" type="submit" value="Submit">Hoàn thành</button>
        </div>
      </form>
  </section>
  
</div>
</div>
  

