@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);
h1 {
  color: #d00109; }

:root {
  --clr1: #ddd;
  --clr2: #efefef;
  --clr3: #333;
  --clr4: rgb(170,4,3);
  --border-radius: 7px;
  --text-radius: 50em; }

body {
  background: var(--clr1);
  padding: 50px 0 0 0;
  margin: 0 10px; }

body *, body :after, body :before {
  box-sizing: border-box; }

.transparent {
  background: transparent !important; }

.wrap {
  max-width: 960px;
  min-width: 360px;
  margin: 0 auto;
  position: relative; }

.wrap.sticky {
  margin-top: 150px;
  /* set height from header */ }

.fluid .wrap {
  max-width: 100% !important; }

header {
  background: var(--clr2);
  padding: 50px;
  width: 100%;
  border-radius: var(--border-radius);
  position: relative;
  z-index: 99; }

.wrap.sticky header {
  background: var(--clr2);
  padding: 50px;
  position: fixed;
  top: 0px;
  max-width: 960px;
  width: calc(100% - 20px);
  min-width: 360px;
  border-radius: 0px 0px var(--border-radius) var(--border-radius); }

.fluid .wrap.sticky header {
  max-width: 100% !important; }

header .logo {
  background: var(--clr1);
  width: 50px;
  height: 50px;
  border-radius: var(--text-radius); }

header nav {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50px, -50%); }

header nav ul li {
  display: inline-block;
  list-style: none;
  width: 60px;
  height: 10px;
  background: var(--clr1);
  border-radius: var(--text-radius); }

section {
  background: var(--clr2);
  padding: 100px 50px;
  width: 100%;
  border-radius: var(--border-radius);
  position: relative;
  margin: 10px 0 0 0; }

section .headline {
  display: block;
  margin: 0 auto;
  list-style: none;
  max-width: 260px;
  height: 30px;
  background: var(--clr1);
  border-radius: var(--text-radius); }

section .text {
  display: block;
  margin: 10px auto;
  max-width: 500px;
  height: 14px;
  background: var(--clr1);
  border-radius: var(--text-radius); }

section .button {
  display: block;
  margin: 20px auto 0 auto;
  max-width: 120px;
  height: 35px;
  background: var(--clr1);
  border-radius: var(--text-radius); }

section.contentbox .headline {
  margin: 10px 0 !important;
  max-width: 65%; }

section.contentbox .text {
  margin: 10px 0 !important;
  max-width: 100%; }

section.contentbox .button {
  margin: 10px 0 !important; }

section.cards {
  padding: 0px;
  background: transparent;
  display: table; }

section.cards .card {
  background: var(--clr2);
  width: calc(33.6% - 10px);
  margin: 0 5px;
  border-radius: var(--border-radius);
  display: inline-block; }

section.cards .card:first-child {
  margin: 0 5px 0 0; }

section.cards .card:last-child {
  margin: 0 0 0 5px; }

section.cards .card .content {
  padding: 40px; }

section.cards .card img {
  width: 100%;
  height: auto;
  border-radius: var(--border-radius) var(--border-radius) 0px 0px; }

footer {
  padding: 50px;
  width: 100%;
  border-radius: var(--border-radius) var(--border-radius) 0px 0px;
  position: relative;
  margin: 10px 0 0 0; }

footer .logo {
  background: var(--clr2);
  width: 50px;
  height: 50px;
  border-radius: var(--text-radius); }

footer nav {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50px, -50%); }

footer nav ul li {
  display: inline-block;
  list-style: none;
  width: 60px;
  height: 10px;
  background: var(--clr2);
  border-radius: var(--text-radius); }

@media (max-width: 728px) {
  section.cards .card {
    width: 100%;
    display: block;
    margin: 10px 0 0 0 !important;
    padding: 0; }
  .wrapper {
    padding: 50px 10px 100px 10px !important; } }

body, html {
  max-width: 100%;
  overflow-x: hidden; }

body {
  background: var(--clr4);
  text-rendering: optimizelegibility;
  margin: 0px;
  padding: 0px;
  height: 100%; }

.wrapper {
  transform-origin: center bottom 0px;
  transition: all 0.5s ease 0s;
  box-shadow: 0px 22px 54px rgba(0, 0, 0, 0.5);
  background: var(--clr3);
  padding: 50px 50px 100px 50px; }

body.tight .wrapper {
  transform: translateY(-60px) scale(0.9);
  cursor: pointer; }

.footer {
  width: 90%;
  max-width: 1440px;
  margin: 0px auto;
  text-align: center;
  margin-bottom: 50px; }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); } }

.arrow {
  position: fixed;
  bottom: 50px;
  left: 50%;
  cursor: pointer;
  margin-left: -20px;
  width: 20px;
  height: 20px;
  padding: 20px;
  z-index: 99;
  background-color: var(--clr4);
  border-radius: 50em;
  background-image: url("/images/chevron-down-outline.svg");
  background-size: 20px 15px;
  background-repeat: no-repeat;
  background-position: center; }

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite; }

footer {
  font-family: Open Sans; }

section {
  width: 100%;
  display: inline-block;
  background: #333;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline; }

.footer-distributed {
  background: #666;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px; }

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top; }

/* Footer left */
.footer-distributed .footer-left {
  width: 40%; }

/* The company logo */
.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Open Sans', cursive;
  margin: 0; }

.footer-distributed h3 span {
  color: lightseagreen; }

/* Footer links */
.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0; }

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit; }

.footer-distributed .footer-company-name {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0; }

/* Footer Center */
.footer-distributed .footer-center {
  width: 35%; }

.footer-distributed .footer-center ion-icon {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle; }

.footer-distributed .footer-center ico-icon {
  font-size: 17px;
  line-height: 38px; }

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0; }

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2; }

.footer-distributed .footer-center p a {
  color: lightseagreen;
  text-decoration: none; }

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px; }

.footer-distributed .footer-links .link-1:before {
  content: none; }

/* Footer Right */
.footer-distributed .footer-right {
  width: 20%; }

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0; }

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px; }

.footer-distributed .footer-icons {
  margin-top: 25px; }

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px; }

/* If you don't want the footer to be responsive, remove these media queries */
@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif; }
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center; }
  .footer-distributed .footer-center i {
    margin-left: 0; } }
