@import url(//db.onlinewebfonts.com/c/1fed4454352f201d52b65ca5480afb2d?family=Playlist);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);
@font-face {
  font-family: "Playlist";
  src: url("//db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.eot");
  src: url("//db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.woff") format("woff"), url("//db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.svg#Playlist") format("svg"); }

@font-face {
  font-family: 'FuturaLight';
  src: url("/fonts/futurasmalllight/Futura-SC-T-OT-Light_19038.ttf") format("truetype"); }

@font-face {
  font-family: 'GroovedPersonalUseRegular';
  src: url("/fonts/GroovedPersonalUseRegular/GROOVEDPERSONALUSE.ttf") format("truetype"); }

@font-face {
  font-family: 'Sofia';
  src: url("/fonts/sofia/Sofia Pro Regular.ttf") format("truetype"); }

#logo-header {
  font-family: 'Playlist';
  font-size: 40px; }

#logo-header span {
  color: #d00109;
  font-family: 'Playlist';
  font-size: 40px; }

a, b, th, td {
  color: inherit;
  text-decoration: none; }

a:hover {
  color: inherit; }

:root {
  --clr1: #ddd;
  --clr2: #efefef;
  --clr3: #333;
  --clr4: rgb(100,4,3);
  --border-radius: 7px;
  --text-radius: 50em;
  --maincolor: @maincolor; }

body {
  background: var(--clr1);
  padding: 50px 0 0 0;
  margin: 0 10px; }

body *, body :after, body :before {
  box-sizing: border-box; }

body.en :lang(vi) {
  display: none; }

body.vi :lang(en) {
  display: none; }

.sub-header {
  position: relative; }

.sub-nav {
  bottom: 0;
  left: 0; }

#sub-nav-left {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 2px;
  overflow: hidden;
  background-color: transparent; }

#sub-nav-left li {
  float: right; }

#sub-nav-left li a {
  color: white;
  text-align: center;
  padding: 0 10px 16px 14px;
  text-decoration: none;
  font-size: 18px; }

#sub-nav-left li .subnav-dropdown-items,
#sub-nav-left li .subnav-lang-dropdown-items {
  padding: 0 10px 16px 14px;
  color: black !important;
  cursor: pointer; }

#sub-nav-left li .subnav-dropdown-items:hover,
#sub-nav-left li .subnav-lang-dropdown-items:hover {
  color: #d00109 !important; }

#sub-nav-left li a:hover {
  text-decoration: underline; }

.subnav-dropdown {
  position: absolute;
  right: 10px;
  background-color: white;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 100;
  display: none; }

.sub-nav ul li:hover .subnav-dropdown,
.sub-nav ul li:hover .subnav-lang-dropdown {
  display: block; }

.subnav-lang-dropdown {
  right: 18%;
  min-width: 150px; }

.wrap-image {
  background-image: url("/images/banner-index.png");
  height: 95vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 1em; }

.hero-text {
  font-family: "Courier";
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 5px;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: black;
  font-style: italic; }

.hero-text span {
  font-family: "GroovedPersonalUseRegular";
  font-size: 70px;
  color: white;
  background-color: black; }

.hero-text button:hover {
  background-color: black; }

.transparent {
  background: transparent !important; }

.wrap {
  max-width: 960px;
  min-width: 360px;
  margin: 0 auto;
  position: relative; }

.fluid .wrap {
  max-width: 100% !important; }

header {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  background: white;
  padding: 30px;
  width: 100%;
  border-radius: var(--border-radius);
  position: fixed;
  z-index: 99;
  box-shadow: 0px 5px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 500ms;
  transition: transform 0.07s linear; }

.header-sticky {
  background: var(--clr2);
  transform: translateY(-40px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25); }

header .logo {
  background: var(--clr1);
  width: 50px;
  height: 50px;
  border-radius: var(--text-radius); }

header nav {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50px, -50%); }

header nav ul {
  margin: 0; }

header nav ul li {
  display: inline-block;
  list-style: none;
  padding: 15px;
  margin: 10px;
  font-size: 24px; }

header nav ul li:hover,
#add-one-href:hover {
  text-decoration: underline;
  font-style: bold;
  color: #d00109;
  cursor: pointer; }

.sub-header nav ul li .badge {
  color: white;
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.35rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; }

.sub-header nav ul li .badge-counter {
  position: absolute;
  transform: scale(0.9);
  transform-origin: top right;
  right: 0rem;
  margin-top: -.25rem; }

.main-header .icon {
  display: none;
  font-size: 30px; }

@media screen and (max-width: 1000px) {
  .navbar-dropdown-items {
    background: white;
    padding: 0px;
    width: 30%;
    border-radius: var(--border-radius);
    position: absolute;
    z-index: 100; }
  header nav ul li span {
    top: 6rem;
    left: 6rem; }
  .icon-responsive {
    margin-left: 100px !important; }
  .main-header .active {
    padding: 500px 0 0 0; }
  .main-header a:not(.logo-icon-header) {
    display: block; }
  .main-header a.icon {
    float: right; }
  .main-header.responsive {
    position: relative; }
  .main-header.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0; }
  .main-header.responsive a {
    float: none;
    display: block;
    text-align: left; }
  .navbar-dropdown-items {
    display: none;
    right: -40px; }
  header nav {
    position: absolute;
    right: 10px;
    top: 160%;
    border: 2px solid black; }
  header nav ul {
    list-style-type: none;
    margin: 0; }
  header nav ul li {
    display: inline-block;
    list-style: none;
    font-size: 20px; }
  .main-header .icon {
    display: block; } }

#logo-header {
  font-weight: normal; }

section {
  background: var(--clr2);
  padding: 100px 50px;
  width: 100%;
  border-radius: var(--border-radius);
  position: relative; }

section .headline {
  display: block;
  margin: 0 auto;
  list-style: none;
  max-width: 360px;
  height: 30px;
  border-radius: var(--text-radius); }

section .text {
  display: block;
  margin: 10px auto;
  max-width: 500px;
  height: 14px;
  background: var(--clr1);
  border-radius: var(--text-radius); }

section .button {
  display: block;
  margin: 20px auto 0 auto;
  max-width: 120px;
  height: 35px;
  background: var(--clr1);
  border-radius: var(--text-radius); }

section.contentbox .headline {
  margin: 10px 0 !important;
  max-width: 65%; }

section.contentbox .text {
  margin: 10px 0 !important;
  max-width: 100%; }

section.contentbox .button {
  margin: 10px 0 !important; }

section.cards {
  padding: 0px;
  background: transparent;
  display: table; }

section.cards .card {
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
  background: var(--clr2);
  width: calc(33.6% - 10px);
  margin: 0 5px;
  border: 0px;
  border-radius: var(--border-radius);
  display: inline-block; }

section.cards .card:first-child {
  margin: 0 5px 0 0; }

section.cards .card:last-child {
  margin: 0 0 0 5px; }

section.cards .card .badge-headline {
  font-size: 22px;
  font-weight: bold;
  padding: 2px;
  margin-left: 25px; }

section.cards .card .badge-text {
  font-size: 16px;
  padding: 2px;
  margin-left: 25px; }

section.cards .card .badge-price {
  font-size: 18px;
  padding: 2px 0 4px 0;
  margin-left: 27px; }

section.cards .card img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  border-radius: var(--border-radius) var(--border-radius) 0px 0px; }

.shoe-sections {
  padding: 20px 0 10px 0;
  text-align: center;
  font-family: 'FuturaLight'; }

.shoe-sections button {
  font-size: 45px;
  background-color: #333;
  color: white;
  border: none;
  transition-duration: 0.2s;
  opacity: 0.5; }

.shoe-sections button:hover {
  text-decoration: underline;
  opacity: 1; }

.shoe-sections .active {
  text-decoration: underline;
  opacity: 1; }

@media screen and (max-width: 768px) {
  .shoe-sections button {
    font-size: 30px; } }

.img-container {
  position: relative;
  overflow: hidden; }

.img-container a img {
  display: block;
  width: 100%;
  height: auto; }

.img-container a .overlay {
  position: absolute;
  bottom: 0;
  background: black;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center; }

.img-container:hover img {
  transform: scale(1.1);
  transform-origin: 50% 50%; }

.img-container:hover .overlay {
  opacity: 1; }

footer {
  padding: 50px;
  width: 100%;
  border-radius: var(--border-radius) var(--border-radius) 0px 0px;
  position: relative;
  margin: 10px 0 0 0; }

footer .logo {
  background: var(--clr2);
  width: 50px;
  height: 50px;
  border-radius: var(--text-radius); }

footer nav {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50px, -50%); }

footer nav ul li {
  display: inline-block;
  list-style: none;
  width: 60px;
  height: 10px;
  background: var(--clr2);
  border-radius: var(--text-radius); }

@media (max-width: 728px) {
  section.cards .card {
    width: 100%;
    display: block;
    margin: 10px 0 0 0 !important;
    padding: 0; }
  section.cards .card .badge-price {
    padding-bottom: 20px; }
  .wrapper {
    padding: 0px 0px 5px 0px !important; }
  .navbar-dropdown-items {
    width: 50%;
    right: -20px;
    top: 170%; }
  .wrap-image {
    background-image: url("/images/banner-index-sm.png");
    height: 95vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 1em; }
  .hero-text {
    font-family: "Courier";
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 2px;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: black;
    font-style: italic; }
  .hero-text span {
    font-family: "GroovedPersonalUseRegular";
    font-size: 70px;
    color: white;
    background-color: black; }
  .hero-text button:hover {
    background-color: black; } }

.img-slide-index {
  width: 100%;
  height: 95vh;
  opacity: 0.4;
  object-fit: cover; }

.slide-text {
  font-family: "FuturaLight";
  letter-spacing: 1.5px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; }

.slide-text h3 {
  font-size: 38px; }

.slide-text h1 {
  font-size: 88px;
  text-shadow: 0.5px 1px 1px #000000; }

@media screen and (max-width: 768px) {
  .slide-text h3 {
    font-size: 28px; }
  .slide-text h1 {
    font-size: 58px; } }

body, html {
  max-width: 100%;
  overflow-x: hidden; }

body {
  background: var(--clr4);
  text-rendering: optimizelegibility;
  margin: 0px;
  padding: 0px;
  height: 100%; }

.wrapper {
  transform-origin: center bottom 0px;
  transition: all 0.5s ease 0s;
  box-shadow: 0px 22px 54px rgba(0, 0, 0, 0.5);
  background: var(--clr3);
  padding: 0px 0px 50px 0px;
  border-radius: var(--border-radius); }

body.tight .wrapper {
  transform: translateY(-60px) scale(0.9);
  cursor: pointer; }

.footer {
  width: 90%;
  max-width: 1440px;
  margin: 0px auto;
  text-align: center;
  margin-bottom: 50px; }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); } }

.arrow {
  position: fixed;
  bottom: 50px;
  left: 50%;
  cursor: pointer;
  margin-left: -20px;
  width: 20px;
  height: 20px;
  padding: 20px;
  z-index: 99;
  background-color: #d00109;
  border-radius: 50em;
  background-image: url("/images/chevron-down-outline.svg");
  background-size: 20px 15px;
  background-repeat: no-repeat;
  background-position: center; }

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite; }

footer {
  font-family: 'Calibri'; }

section {
  width: 100%;
  display: inline-block;
  background: #333;
  text-align: center;
  font-size: 22px;
  font-weight: 700; }

.footer-distributed {
  background: black;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px; }

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top; }

/* Footer left */
.footer-distributed .footer-left {
  width: 40%; }

.footer-distributed .footer-left a {
  cursor: pointer; }

/* The company logo */
.footer-distributed h3 {
  color: #ffffff;
  font: normal 4rem 'Playlist', cursive;
  margin: 0;
  color: white; }

.footer-distributed h3 span {
  color: #d00109; }

/* Footer links */
.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0; }

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  color: inherit; }

.footer-distributed .footer-links a:hover {
  text-decoration: underline; }

.footer-distributed .footer-company-name {
  color: #696868;
  font-size: 14px;
  font-weight: normal;
  margin: 0; }

/* Footer Center */
.footer-distributed .footer-center {
  width: 35%; }

.footer-distributed .footer-center ion-icon {
  background-color: #000000;
  color: #d00109;
  font-size: 25px;
  width: 28px;
  height: 28px;
  border-radius: 0%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle; }

.footer-distributed .footer-center ico-icon {
  font-size: 17px;
  line-height: 38px; }

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0; }

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2; }

.footer-distributed .footer-center p a {
  color: lightgrey; }

.footer-distributed .footer-center p a:hover {
  text-decoration: underline; }

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px; }

.footer-distributed .footer-links .link-1:before {
  content: none; }

/* Footer Right */
.footer-distributed .footer-right {
  width: 20%; }

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0; }

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px; }

.footer-distributed .footer-icons {
  margin-top: 25px; }

.footer-distributed .footer-icons .social-icons {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #92999f;
  border-radius: 50%;
  font-size: 25px;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px; }

.footer-distributed .footer-icons .fa-facebook {
  color: #4267B2; }

.footer-distributed .footer-icons .fa-twitter {
  color: #38A1F2; }

.footer-distributed .footer-icons .fa-instagram {
  color: transparent;
  background: -webkit-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -o-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text; }

.footer-distributed .footer-icons .fa-tiktok {
  color: black; }

.footer-distributed .footer-icons .social-icons i:hover {
  color: #d00109; }

/* If you don't want the footer to be responsive, remove these media queries */
@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif; }
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center; }
  .footer-distributed .footer-center {
    text-align: left; }
  .footer-distributed .footer-center i {
    margin-left: 0; } }

/* The Modal (background) */
.delivery-modal,
.payment-modal,
.return-modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 101;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

.return-modal a:hover {
  text-decoration: underline; }

/* Modal Content/Box */
.delivery-modal-content,
.payment-modal-content,
.return-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  width: 80%;
  /* Could be more or less, depending on screen size */
  border-radius: 15px; }

.return-modal-content {
  margin: 1% auto; }

.modal-header {
  background-color: var(--clr4);
  color: white;
  border-radius: 13px 13px 0 0;
  border: 3px var(--clr4); }

.fa-shipping-fast,
.fa-credit-card,
.fa-exchange-alt {
  font-size: 30px; }

/* The Close Button */
.delivery-close,
.payment-close,
.return-close,
.modal-header button span {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold; }

.delivery-close:hover,
.delivery-close:focus,
.payment-close:hover,
.payment-close:focus,
.return-close:hover,
.return-close:focus,
.size-guide-close:hover,
.modal-header button span:hover {
  color: gray;
  cursor: pointer; }

.copy-payment-btn:active,
.copy-payment-btn:focus {
  color: red; }

.copy-payment-btn {
  border: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 0; }

.create-product-box {
  text-align: left;
  font-size: 18px;
  font-weight: 700;
  padding: 10px 10px; }

.create-product-box h2 {
  font-size: 50px;
  color: white;
  padding-bottom: 20px;
  text-align: center; }

.create-product-box label {
  color: lightgray; }

.create-product-box button {
  margin-top: 20px; }

.manage-product-box,
.manage-product-box th,
.manage-product-box td {
  color: white; }

.manage-product-box td {
  font-weight: normal; }

.wrap-manage {
  padding: 10px;
  max-width: 960rem; }

.manage-product-box button {
  margin-top: 0px; }

.modal-header-confirm-delete {
  border-radius: 15px; }

.modal-body-confirm-delete {
  color: black; }

#logo-product-detail {
  font-family: 'Playlist';
  opacity: 70%;
  padding-left: 10px;
  margin-bottom: -2rem;
  font-size: 22px;
  z-index: 1; }

#logo-product-detail span {
  color: #d00109; }

.product-detail-page {
  padding: 20px;
  font-weight: bold; }

.zalo-icon {
  height: 20px;
  margin-bottom: 5px;
  background-color: white;
  border-radius: 20%; }

.zalo-icon:hover {
  filter: invert(1) sepia(1) saturate(5) hue-rotate(175deg); }

.card-product-list {
  margin-top: 20px;
  margin-bottom: 20px; }

.card-product-item {
  transition: transform .2s;
  border: 0px solid;
  box-shadow: 4px 5px #838080; }

.card-product-item:hover {
  opacity: 1;
  -ms-transform: scale(1.08);
  /* IE 9 */
  -webkit-transform: scale(1.08);
  /* Safari 3-8 */
  transform: scale(1.08);
  border: 3px solid black;
  box-shadow: 0px 0px; }

.column-card-product-item {
  margin-top: 10px;
  margin-bottom: 10px; }

.card-img-top {
  width: 100%;
  height: 30vh;
  object-fit: contain; }

@media only screen and (max-width: 600px) {
  .card-img-top {
    height: 50vh; } }

.img-edit-page {
  display: block;
  text-align: center;
  justify-content: center;
  top: 0;
  transform: translate(0px, 47px);
  padding: 0; }

.img-edit-page img {
  max-width: 100%; }

#notfound {
  position: relative;
  height: 100vh; }

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.notfound {
  max-width: 710px;
  width: 100%;
  padding-left: 190px;
  line-height: 1.4; }

.notfound .notfound-404 {
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
  height: 150px; }

.notfound .notfound-404 h1 {
  font-family: 'Passion One', cursive;
  color: #00b5c3;
  font-size: 150px;
  letter-spacing: 15.5px;
  margin: 0px;
  font-weight: 900;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.notfound h2 {
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin-top: 0; }

.notfound p {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 15px;
  color: lightgray; }

.notfound a {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  background: #fff;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 40px;
  color: #292929;
  font-weight: 700;
  -webkit-box-shadow: 0px 4px 15px -5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 15px -5px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s all;
  transition: 0.2s all; }

.notfound a:hover {
  color: #fff;
  background-color: #00b5c3; }

@media only screen and (max-width: 480px) {
  .notfound {
    text-align: center; }
  .notfound .notfound-404 {
    position: relative;
    width: 100%;
    margin-bottom: 15px; }
  .notfound {
    padding-left: 15px;
    padding-right: 15px; } }

.login-sidenav {
  height: 100%;
  background-color: #000;
  overflow-x: hidden;
  padding-top: 20px; }

.login-main {
  padding: 0px 10px; }

@media screen and (max-width: 450px) {
  .login-form {
    margin-top: 10%; } }

@media screen and (min-width: 768px) {
  .login-main {
    margin-left: 40%; }
  .login-sidenav {
    width: 40%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0; }
  .login-form {
    margin-top: 80%; }
  .login-form form a {
    font-size: 14px; } }

.login-main-text {
  margin-top: 50%;
  padding: 60px;
  color: #fff; }

.login-main-text h2 {
  font-weight: 300;
  font-size: 70px; }

.btn-black {
  background-color: #000 !important;
  color: #fff; }

.btn-black:hover {
  color: #fff;
  background-color: #3e3d3d !important; }

.register-sidenav {
  height: 100%;
  background-color: #000;
  overflow-x: hidden;
  padding-top: 20px;
  animation-duration: 6s;
  animation-iteration-count: 1;
  position: relative; }

.register-main {
  padding: 0 60px; }

@media screen and (max-height: 450px) {
  .register-sidenav {
    padding-top: 15px; } }

@media screen and (max-width: 450px) {
  .register-form {
    margin-top: 10%; } }

@media screen and (min-width: 768px) {
  .register-main {
    margin-right: 40%;
    width: 80%; }
  .register-sidenav {
    width: 40%;
    position: fixed;
    z-index: 1;
    bottom: 0;
    right: 0; }
  .register-form {
    margin-top: 35%; } }

.register-main-text {
  margin-top: 50%;
  padding: 60px;
  color: #fff; }

.register-main-text h2 {
  font-weight: 300;
  font-size: 70px; }

.register-sidenav:hover,
.login-sidenav:hover {
  background-color: #232222;
  cursor: pointer; }

.register-sidenav:hover span,
.login-sidenav:hover span {
  color: red; }

.login-section {
  opacity: 0; }

.register-section {
  opacity: 1; }

.register-form label,
.login-form label {
  color: #fff;
  font-size: 20px; }

.form-check-label {
  margin-top: -8px; }

.form-check-label i {
  font-size: 15px; }

.login-form a {
  color: lightgray;
  font-weight: bold; }

.login-form a:hover {
  color: white;
  text-decoration: underline; }

.img-user-table {
  max-width: 3.5rem; }

tr:nth-child(even) {
  background: #ebebeb; }

tbody tr:hover {
  color: #d00109; }

#shoe-sections-index,
#shoe-available {
  border: 0;
  padding: 0; }

.detail-shoe-container,
.cart-container {
  margin-top: 10px;
  font-family: 'Sofia';
  background: white; }

.detail-shoe-container #shoe-detail,
.cart-container section {
  padding-left: 0;
  padding-bottom: 0px; }

.detail-shoe-container #shoe-detail img {
  height: 80vh;
  width: 70vw;
  object-fit: cover; }

.cart-container {
  padding: 0;
  font-family: 'Sofia'; }

.cart-container section {
  padding: 80px 0 0 0; }

.detail-shoe-container section,
.cart-container section {
  text-align: left;
  height: fit-content;
  background-color: white; }

.detail-shoe-container #shoe-detail span {
  color: #9b9898;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 100; }

.detail-shoe-container #shoe-detail h1 {
  font-size: 21px;
  text-transform: uppercase;
  letter-spacing: 1.5px; }

.detail-shoe-container #shoe-detail h2 {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1.5px; }

.detail-shoe-container #shoe-detail ul {
  list-style: none; }

.detail-shoe-container #shoe-detail li > div {
  display: none;
  color: #8b898a; }

.detail-shoe-container #shoe-detail .text-muted {
  text-decoration: underline; }

.detail-shoe-container #shoe-detail ul li ul li::before {
  content: "\2022";
  color: #797878;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  vertical-align: left; }

.detail-shoe-container #shoe-detail h3,
.detail-shoe-container #shoe-detail a,
.detail-shoe-container #shoe-detail ul li {
  font-size: 14px;
  font-weight: 100;
  line-height: 23px; }

.detail-shoe-container #shoe-detail #size-options a {
  font-size: 15px; }

.detail-shoe-container #shoe-detail #size-guide-btn {
  margin-top: 15px;
  margin-left: 13px;
  padding-left: 24px;
  background: url("/images/size-icon.png") transparent no-repeat left;
  background-size: 18px;
  color: #9b9899; }

.detail-shoe-container #shoe-detail button {
  margin-left: 13px;
  text-transform: uppercase; }

.detail-shoe-container #shoe-detail .fa-plus,
.detail-shoe-container #shoe-detail .fa-minus {
  color: #797878;
  cursor: pointer; }

.detail-shoe-container .fa-color-circle {
  display: inline-block;
  border: 1px solid black;
  width: 30px;
  height: 30px;
  border-radius: 16px;
  line-height: 34px;
  text-align: center;
  margin-left: 10px; }

.detail-shoe-container .modal .modal-header,
.detail-shoe-container .modal .modal-content {
  border-radius: var(--border-radius);
  border: var(--clr4); }

#pre-order-modal .modal-content {
  border-radius: 15px 0 0 15px; }

#pre-order-modal .modal-header {
  border-radius: 13px 0 0 13px; }

#pre-order-modal .modal-footer {
  display: block; }

#size-guide-modal button {
  background: inherit;
  color: black;
  font-size: 30px; }

#shoe-women-size {
  display: none; }

.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0); }

.modal.right .modal-content {
  height: 100%;
  overflow-y: auto; }

.modal.right .modal-body {
  padding: 15px 15px 10px; }

/*Right*/
.modal.right.fade .modal-dialog {
  right: 0px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out; }

.modal.right.fade.in .modal-dialog {
  left: 0; }

#pre-order-modal {
  font-family: 'Sofia'; }

#pre-order-modal h1 {
  font-size: 1.2em; }

#pre-order-modal h2 {
  font-size: 1.0em;
  color: #838080; }

#pre-order-modal h3 {
  font-size: 0.8em;
  color: #838080; }

#pre-order-modal button {
  width: 47%; }

#pre-order-modal img {
  height: fit-content;
  width: 100%;
  object-fit: scale-down; }

#another-shoe-detail {
  height: fit-content;
  padding: 0px 50px; }

#another-shoe-detail .card {
  border: 0;
  font-size: 16px;
  letter-spacing: 1.5px; }

#another-shoe-detail h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  color: #121212; }

#another-shoe-detail .img-container img {
  max-height: 40vh;
  min-height: 40vh;
  height: fit-content;
  object-fit: scale-down;
  -webkit-transition: width 0.2s linear;
  -moz-transition: width 0.2s linear;
  transition: width 0.2s linear; }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .detail-shoe-container #shoe-detail img {
    height: 50vh;
    width: 55vw;
    object-fit: cover; } }

@media screen and (max-width: 540px) {
  .detail-shoe-container #shoe-detail img {
    height: fit-content;
    width: 100vw;
    object-fit: cover; }
  .detail-shoe-container #another-shoe-detail img {
    max-height: 15vh;
    height: fit-content;
    object-fit: scale-down; }
  .detail-shoe-container #another-shoe-detail h1 {
    font-size: 28px; } }

.wrapper.shoe-index {
  margin-top: 10px;
  font-family: 'Sofia';
  background: white; }

.wrapper.shoe-index section {
  background: white;
  text-align: left;
  padding-top: 120px; }

.shoe-index .left-list {
  text-transform: uppercase; }

.shoe-index .left-list ul li {
  border: 0;
  font-size: 0.8rem;
  line-height: 1.5rem;
  letter-spacing: 0.06rem; }

.shoe-index .left-list ul li:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #d00109; }

.shoe-index .left-list h2 {
  font-size: 1rem;
  color: #838080;
  cursor: default; }

.shoe-index .shoe-list img {
  height: 60vh;
  width: 100%;
  object-fit: scale-down;
  padding-bottom: 30px; }

.shoe-index .shoe-list .overlay-shoe-list {
  text-align: left;
  background-color: inherit;
  color: black;
  font-size: 14px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 1.5px; }

.shoe-index .shoe-list .overlay-shoe-list .fa {
  -webkit-text-stroke: 0.8px white; }

.shoe-list-detail h1 {
  font-size: 1em; }

.shoe-list-detail h2 {
  font-size: 0.8em;
  font-weight: 100;
  color: #202020; }

.shoe-list-detail h3 {
  font-size: 0.7em;
  color: #5a5959; }

.shoe-list-detail h1:hover {
  color: #d00109;
  text-decoration: underline;
  cursor: pointer; }

.responsive-left-list {
  display: none;
  padding-right: 2rem;
  font-family: 'Sofia';
  text-transform: uppercase; }

.responsive-left-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; }

.responsive-left-list ul li {
  float: right;
  font-weight: 100;
  font-size: 1.2rem; }

.responsive-left-list li {
  display: block;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none; }

.responsive-left-list .selected {
  display: block; }

.responsive-items {
  position: relative;
  width: 100%;
  display: none; }

.responsive-items h2 {
  font-size: 1rem; }

.responsive-items ul li {
  float: none;
  font-size: 0.8rem;
  border: none; }

@media screen and (max-width: 1024px) {
  .responsive-left-list {
    display: block; }
  .left-list {
    display: none; }
  .shoe-index section {
    padding-right: 0;
    padding-left: 25px; }
  .shoe-index .shoe-list img {
    height: 34vh;
    width: 100%; }
  .shoe-list-detail {
    padding-left: 1rem; } }

@media screen and (max-width: 450px) {
  .shoe-index .shoe-list img {
    height: 30vh;
    width: 100%; }
  .shoe-list-detail {
    padding-left: 1rem; }
  .shoe-list {
    text-align: center; } }

.img-checkout {
  height: 20vh !important;
  width: 30% !important;
  object-fit: scale-down !important; }
