.container-custom {
  margin-top: 30px;
  background-color: white; }

.wrap-shoe-custom {
  max-width: 1900px;
  min-width: 320px; }

.main-img-custom {
  display: flex;
  justify-content: center; }

.img-custom-1 {
  position: relative;
  margin-left: 0; }

.af1-custom-images {
  width: 650px;
  height: auto; }

.main-swooth-custom {
  width: 316px;
  height: 83px;
  position: absolute;
  bottom: 285px;
  left: 60px;
  background-color: black;
  -webkit-mask: url("/images/smooth.png") center/contain;
  mask: url("/images/smooth.png") center/contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  z-index: 1; }

.close-main-swooth-custom {
  display: none; }

.main-midsole-custom {
  width: 478px;
  height: 83px;
  position: absolute;
  bottom: 203px;
  left: 86px;
  background-color: black;
  -webkit-mask: url("/images/midsole.png") center/contain;
  mask: url("/images/midsole.png") center/contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat; }

.close-main-midsole-custom {
  display: none; }

.main-middle-custom {
  width: 166px;
  height: 165px;
  position: absolute;
  bottom: 234px;
  left: 202px;
  background-color: black;
  -webkit-mask: url("/images/middle.png") center/contain;
  mask: url("/images/middle.png") center/contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat; }

.close-main-middle-custom {
  display: none; }

.main-head-custom {
  width: 267px;
  height: 165px;
  position: absolute;
  bottom: 206px;
  left: 297px;
  background-color: black;
  -webkit-mask: url("/images/head.png") center/contain;
  mask: url("/images/head.png") center/contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat; }

.close-main-head-custom {
  display: none; }

.main-back-custom {
  width: 264px;
  height: 132px;
  position: absolute;
  bottom: 263px;
  left: 51px;
  background-color: black;
  -webkit-mask: url("/images/back.png") center/contain;
  mask: url("/images/back.png") center/contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat; }

.close-main-back-custom {
  display: none; }

.main-backward-custom {
  width: 98px;
  height: 80px;
  position: absolute;
  bottom: 320px;
  left: 68px;
  background-color: black;
  -webkit-mask: url("/images/backward.png") center/contain;
  mask: url("/images/backward.png") center/contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat; }

.close-main-backward-custom {
  display: none; }

.middle-custom {
  text-align: center; }

.custom-color-board {
  display: flex;
  margin-bottom: 10px;
  justify-content: center; }

.carousel-item.active {
  display: block;
  display: flex;
  justify-content: center; }

.carousel-item-next,
.carousel-item-prev {
  display: flex; }

.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 3rem;
  height: 7rem; }

.diversion-shoe {
  display: flex;
  justify-content: center; }

.diversion-shoe img {
  width: 200px;
  height: 100px; }

.diversion-shoe-custom .color-list {
  width: 126px;
  height: 63px;
  position: absolute;
  bottom: 45px;
  z-index: 3;
  opacity: 0; }

.diversion-shoe-custom .color-list:nth-child(1) {
  right: 263%; }

.diversion-shoe-custom .color-list:nth-child(2) {
  right: 167%; }

.diversion-shoe-custom .color-list:nth-child(3) {
  right: 69%; }

.diversion-shoe-custom .color-list:nth-child(4) {
  right: -28%; }

.diversion-shoe-custom .color-list:nth-child(5) {
  right: -124%; }

.diversion-shoe-custom .color-list:nth-child(6) {
  right: -220%; }

.color-list {
  display: none; }

.card-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; }

.card-carousel .my-card {
  height: 7rem;
  width: 13rem;
  border-radius: 20px;
  position: relative;
  z-index: 1;
  -webkit-transform: scale(0.6) translateY(-2rem);
  transform: scale(0.6) translateY(-2rem);
  opacity: 1;
  cursor: pointer;
  pointer-events: none;
  background-color: #fce043;
  background-image: linear-gradient(315deg, #fce043 0%, #fb7ba2 74%);
  transition: 1s; }

.card-carousel .my-card:after {
  position: absolute;
  height: 2px;
  width: 100%;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  bottom: -5rem;
  -webkit-filter: blur(4px);
  filter: blur(4px); }

.card-carousel .my-card:nth-child(0):before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  font-weight: 300;
  color: #fff; }

.card-carousel .my-card:nth-child(1):before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  font-weight: 300;
  color: #fff; }

.card-carousel .my-card:nth-child(2):before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  font-weight: 300;
  color: #fff; }

.card-carousel .my-card:nth-child(3):before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  font-weight: 300;
  color: #fff; }

.card-carousel .my-card:nth-child(4):before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  font-weight: 300;
  color: #fff; }

.card-carousel .my-card:nth-child(5):before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  font-weight: 300;
  color: #fff; }

.card-carousel .my-card.active {
  z-index: 3;
  opacity: 1;
  pointer-events: auto;
  transition: 1s; }

.card-carousel .my-card.prev, .card-carousel .my-card.next {
  z-index: 2;
  opacity: 0.6;
  pointer-events: auto;
  transition: 1s; }

@media only screen and (max-width: 1024px) {
  .diversion-shoe img {
    width: 100px;
    height: 50px; }
  .card-carousel .my-card {
    height: 4rem;
    width: 7rem; }
  .diversion-shoe-custom .color-list {
    width: 66px;
    height: 40px;
    bottom: 30px; }
  .diversion-shoe-custom .color-list:nth-child(1) {
    right: 165%; }
  .diversion-shoe-custom .color-list:nth-child(2) {
    right: 113%; }
  .diversion-shoe-custom .color-list:nth-child(3) {
    right: 61%; }
  .diversion-shoe-custom .color-list:nth-child(4) {
    right: 9%; }
  .diversion-shoe-custom .color-list:nth-child(5) {
    right: -43%; }
  .diversion-shoe-custom .color-list:nth-child(6) {
    right: -95%; } }

@media screen and (max-width: 600px) {
  .card-carousel .my-card {
    height: 3.6rem;
    width: 7rem; }
  .img-custom-1 img {
    width: 300px; }
  .main-middle-custom {
    width: 77px;
    height: 76px;
    position: absolute;
    bottom: 108px;
    left: 122px; }
  .main-swooth-custom {
    width: 102px;
    height: 83px;
    position: absolute;
    bottom: 109px;
    left: 79px; }
  .main-back-custom {
    width: 252px;
    height: 60px;
    position: absolute;
    bottom: 121px;
    left: -11px; }
  .main-midsole-custom {
    width: 220px;
    height: 83px;
    position: absolute;
    bottom: 71px;
    left: 70px; }
  .main-head-custom {
    width: 125px;
    height: 167px;
    position: absolute;
    bottom: 50px;
    left: 165px; }
  .main-backward-custom {
    width: 26px;
    height: 161px;
    position: absolute;
    bottom: 86px;
    left: 71px; }
  .diversion-shoe-custom .color-list {
    width: 4rem;
    height: 2rem;
    bottom: 29px; }
  .diversion-shoe-custom .color-list:nth-child(1) {
    right: 153%; }
  .diversion-shoe-custom .color-list:nth-child(2) {
    right: 106%; }
  .diversion-shoe-custom .color-list:nth-child(3) {
    right: 60%; }
  .diversion-shoe-custom .color-list:nth-child(4) {
    right: 13%; }
  .diversion-shoe-custom .color-list:nth-child(5) {
    right: -33%; }
  .diversion-shoe-custom .color-list:nth-child(6) {
    right: -80%; } }

@media only screen and (min-width: 351px) and (max-width: 599px) {
  .img-custom-1 img {
    width: 300px; }
  .diversion-shoe img {
    width: 54px;
    height: 27px; }
  .card-carousel .my-card.next, .card-carousel .my-card.prev, .card-carousel .my-card.active {
    height: 3rem;
    width: 4rem; } }

@media only screen and (min-width: 375px) and (max-width: 414px) {
  .diversion-shoe-custom .color-list {
    width: 3rem;
    height: 2rem;
    bottom: 29px; }
  .diversion-shoe-custom .color-list:nth-child(1) {
    right: 116%; }
  .diversion-shoe-custom .color-list:nth-child(2) {
    right: 85%; }
  .diversion-shoe-custom .color-list:nth-child(3) {
    right: 55%; }
  .diversion-shoe-custom .color-list:nth-child(4) {
    right: 24%; }
  .diversion-shoe-custom .color-list:nth-child(5) {
    right: -8%; }
  .diversion-shoe-custom .color-list:nth-child(6) {
    right: -38%; } }

@media only screen and (min-width: 320px) and (max-width: 350px) {
  .img-custom-1 img {
    width: 300px; }
  .img-custom-1 img {
    width: 300px; }
  .diversion-shoe img {
    width: 54px;
    height: 27px; }
  .card-carousel .my-card.next, .card-carousel .my-card.prev, .card-carousel .my-card.active {
    height: 3rem;
    width: 4rem; }
  .diversion-shoe-custom .color-list {
    width: 2rem;
    height: 2rem;
    bottom: 29px; }
  .diversion-shoe-custom .color-list:nth-child(1) {
    right: 106%; }
  .diversion-shoe-custom .color-list:nth-child(2) {
    right: 80%; }
  .diversion-shoe-custom .color-list:nth-child(3) {
    right: 55%; }
  .diversion-shoe-custom .color-list:nth-child(4) {
    right: 30%; }
  .diversion-shoe-custom .color-list:nth-child(5) {
    right: 5%; }
  .diversion-shoe-custom .color-list:nth-child(6) {
    right: -20%; } }
