.button-delete,
.input-shoe-size,
.store-custom-to-cart {
  width: 100%; }

.input-shoe-size {
  border: none;
  text-align: center;
  font-size: 14px; }

.input-shoe-size:focus {
  text-align: unset; }

.custom-list-btn {
  padding-left: 1.5rem; }

.custom-item-container {
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px; }
