.button-delete,
.input-shoe-size,
.store-custom-to-cart {
  width: 100%; }

.input-shoe-size {
  border: none;
  text-align: center;
  font-size: 14px; }

.input-shoe-size:focus {
  text-align: unset; }

.custom-list-btn {
  padding-left: 1.5rem; }

.custom-item-container {
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px; }

.custom-list-container {
  flex: 0, 0 auto;
  width: 33.333%; }

@media screen and (max-width: 1500px) {
  .custom-list-container {
    width: 100%; } }

@media screen and (max-width: 599px) {
  .custom-list-btn button {
    font-size: 8px; }
  .custom-list-btn input {
    width: 120%;
    font-size: 7px; } }
