.button-delete,
.input-shoe-size,
.store-custom-to-cart {
  width: 100%; }

.input-shoe-size {
  border: none;
  text-align: center;
  font-size: 14px; }

.input-shoe-size:focus {
  text-align: unset; }

.ledinhdong {
  padding-left: 1rem;
  padding-right: 1rem; }
