.container-custom {
  margin-top: 30px;
  background-color: white; }

.wrap-shoe-custom {
  max-width: 1900px;
  min-width: 320px; }

.main-img-custom {
  display: flex;
  justify-content: center; }

.img-custom-1 {
  position: relative;
  margin-left: 0; }

.af1-custom-images {
  width: 650px;
  height: auto; }

.main-swooth-custom {
  width: 316px;
  height: 83px;
  position: absolute;
  bottom: 285px;
  left: 60px;
  background-color: black;
  -webkit-mask: url("/images/smooth.png") center/contain;
  mask: url("/images/smooth.png") center/contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  z-index: 1; }

.close-main-swooth-custom {
  display: none; }

.main-midsole-custom {
  width: 478px;
  height: 83px;
  position: absolute;
  bottom: 203px;
  left: 86px;
  background-color: black;
  -webkit-mask: url("/images/midsole.png") center/contain;
  mask: url("/images/midsole.png") center/contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat; }

.close-main-midsole-custom {
  display: none; }

.main-middle-custom {
  width: 166px;
  height: 165px;
  position: absolute;
  bottom: 234px;
  left: 202px;
  background-color: black;
  -webkit-mask: url("/images/middle.png") center/contain;
  mask: url("/images/middle.png") center/contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat; }

.close-main-middle-custom {
  display: none; }

.main-head-custom {
  width: 267px;
  height: 165px;
  position: absolute;
  bottom: 206px;
  left: 297px;
  background-color: black;
  -webkit-mask: url("/images/head.png") center/contain;
  mask: url("/images/head.png") center/contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat; }

.close-main-head-custom {
  display: none; }

.main-back-custom {
  width: 264px;
  height: 132px;
  position: absolute;
  bottom: 263px;
  left: 51px;
  background-color: black;
  -webkit-mask: url("/images/back.png") center/contain;
  mask: url("/images/back.png") center/contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat; }

.close-main-back-custom {
  display: none; }

.main-backward-custom {
  width: 98px;
  height: 80px;
  position: absolute;
  bottom: 320px;
  left: 68px;
  background-color: black;
  -webkit-mask: url("/images/backward.png") center/contain;
  mask: url("/images/backward.png") center/contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat; }

.close-main-backward-custom {
  display: none; }

.middle-custom {
  text-align: center; }

.custom-color-board {
  display: flex;
  margin-bottom: 10px;
  justify-content: center; }

#red {
  width: 70px;
  height: 25px;
  background-color: red; }

#orange {
  width: 70px;
  height: 25px;
  background-color: orange; }

#yellow {
  width: 70px;
  height: 25px;
  background-color: yellow; }

#green {
  width: 70px;
  height: 25px;
  background-color: green; }

#blue {
  width: 70px;
  height: 25px;
  background-color: blue; }

#indigo {
  width: 70px;
  height: 25px;
  background-color: indigo; }

#violet {
  width: 70px;
  height: 25px;
  background-color: violet; }

.diversion-shoe {
  display: flex;
  justify-content: center; }

.diversion-shoe img {
  width: 200px;
  height: 100px; }

@media only screen and (max-width: 600px) {
  .img-custom-1 img {
    width: 300px; } }

@media only screen and (min-width: 350px) and (max-width: 599px) {
  .img-custom-1 img {
    width: 300px; } }

@media only screen and (min-width: 320px) and (max-width: 350px) {
  .img-custom-1 img {
    width: 300px; }
  .img-custom-1 img {
    width: 300px; } }
