<footer class="footer-distributed">

    <div class="footer-left">
        {{!-- <div class="logo"></div> --}}
        <a href="/" style="text-decoration: none;"><h3 id="logo-footer">Dus<span>Tin</span></h3></a>
        <p class="footer-links">
            <a href="/" class="link-1">Homepage</a>
            
            <a id="delivery-btn">Delivery</a>
        
            <a id="payment-btn">Payment</a>
            
            <a id="return-btn">Return Policy</a>
            
        </p>

        <p class="footer-company-name">DusTin © 2022</p>
    </div>

    <div class="footer-center">
        <div>
            <ion-icon name="location-outline"></ion-icon>
            <p><a href="https://www.google.com/maps/place/%C4%90%C6%B0%E1%BB%9Dng+s%E1%BB%91+9,+ph%C6%B0%E1%BB%9Dng+4,+Qu%E1%BA%ADn+8,+Th%C3%A0nh+ph%E1%BB%91+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/@10.7424124,106.6678977,17z/data=!3m1!4b1!4m5!3m4!1s0x31752e56a427603d:0xafd2371d7539c0c7!8m2!3d10.7424071!4d106.6700917">
                <span>Street 9,</span> Ward 4, 8 District</a></p>
        </div>
        <div>
            <ion-icon name="call-outline"></ion-icon>
            <p><a href="tel:0865663278">0865.663.278 (Hotline)</a></p>
        </div>
<br><br>
        <div>
            <ion-icon name="location-outline"></ion-icon>
            <p><a href="https://www.google.com/maps/place/H%E1%BA%BBm+822+H%C6%B0%C6%A1ng+l%E1%BB%99+2,+B%C3%ACnh+Tr%E1%BB%8B+%C4%90%C3%B4ng+A,+B%C3%ACnh+T%C3%A2n,+Th%C3%A0nh+ph%E1%BB%91+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/@10.7636304,106.6062857,14z/data=!4m5!3m4!1s0x31752c4183703231:0x40defbf7bc18153e!8m2!3d10.7700841!4d106.6002452">
                <span>Huong Lo 2,</span> Binh Tri Dong, Binh Tan</a></p>
        </div>
        <div>
            <ion-icon name="call-outline"></ion-icon>
            <p><a href="tel:0703086663">07.03.08.6663</a></p>
        </div>

    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <span>About DusTin</span>
            Specializes in genuine products<br>
            Customers buy at instagram or facebook<br>
            Ship nationwide<br>
            Wholesale please contact <a href="tel:0355303251">0355.303.251</a><br>
            Page Facebook: <a href="https://www.facebook.com">DusTin</a> 
            </p>

        <div class="footer-icons">
            <a class="social-icons" href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
            <a class="social-icons" href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
            <a class="social-icons" href="#"><i class="fab fa-twitter"></i></a>
            <a class="social-icons" href="#"><i class="fab fa-tiktok"></i></a>
            <a class="social-icons" href="#"><img src="/images/zalo-icon.svg" class="zalo-icon"></a>

        </div>

    </div>

</footer>


<!-- The Delivery Modal -->
  <div id="delivery-modal" class="delivery-modal">
    <!-- Delivery Modal content -->
    <div class="delivery-modal-content">
      <div class="modal-header">
        <i class="fas fa-shipping-fast"></i>
        <h3>Shipping method</h3>
        <span class="delivery-close">&times;</span>
      </div>
      <div class="modal-body">
        <p>Consists of 3 main modes of transportation: Express, Economy, and Express..</p>
        <p>Applicable audience: Certain Group of Sellers. Please follow the confirmation message from DusTin in the near future</p>
        <p>Notification channel: DusTin will send a confirmation message to the Seller via: Notifications > Seller Update on DusTin app, Email, Seller Information Channel on Zalo & Seller Channel.</p>
        <p>Application period: Starting from 12/05/2021</p>
      </div>
      {{!-- <div class="modal-footer">
        
      </div> --}}
    </div>
  </div>

  <!-- The Payment Modal -->
  <div id="payment-modal" class="payment-modal">
    <!-- Payment Modal content -->
    <div class="payment-modal-content">
      <div class="modal-header">
        <i class="fa fa-credit-card" aria-hidden="true"></i>
        <h3>Payment Method</h3>
        <span class="payment-close">&times;</span>
      </div>

      <div class="modal-body">
        <p>Accept <strong>direct payments</strong> and <strong>wire transfers</strong></p>
        <p>Transfer via <strong>MB Bank</strong> (military bank)</p>
        <p>Account holder: <strong>Nguyễn Tiến Thành</strong></p>
        <p>Account number: <b id="payment-number">123456789</b>
        <button class="copy-payment-btn" onclick="CopyToClipboard('payment-number');return false;"><i class="fas fa-copy"></i></button>
          </p>
      </div>
      {{!-- <div class="modal-footer">
        
      </div> --}}
    </div>
  </div>

    <!-- The Return Modal -->
  <div id="return-modal" class="return-modal">
    <!-- Return Modal content -->
    <div class="modal-content return-modal-content">
      <div class="modal-header">
        <i class="fas fa-exchange-alt"></i>
        <h3>Return Policy</h3>
        <span class="return-close">&times;</span>
      </div>
      <div class="modal-body">
          <p>
            <strong>1. Conditions apply</strong><br>
            Subject to the terms and conditions set forth in this Returns and Refund Policy and forming part of the Terms of Service, DusTin protects the interests of Buyers by allowing return requests for products and /or refund before expiration. The term DusTin Guarantee is specified in the Terms of Service.<br><br>
            DusTin is guaranteed by DusTin, at the request of the User, to assist the User in resolving conflicts that may arise during the transaction. Users can contact each other to agree to resolve their dispute or report it to DusTin or the competent state agency for assistance in resolving any dispute that occurs before, during or after using DusTin Guaranteed.<br><br>
            Return and/or refund policy for DusTin products are specified in DusTin Terms of Service.<br><br><br>
            <strong>2. Conditions for requesting a return/refund</strong><br>
            Buyer agrees that a return/refund can only be requested in the following cases:<br>
              <ul>
                <li>Buyers paid but <strong>did not receive the product</strong> ordered, or received the product as <strong>fake, imitation</strong></li>
                <li>The product was <strong>defective</strong> or <strong>damaged</strong> during transit</li>
                <li>Product has <strong>manufacturer defect</strong></li>
                <li>Seller delivers <strong>wrong product</strong> to buyer </li>
                <li>The product the buyer received <strong>incorrect information</strong> that the Seller provided in the product description</li>
                <li><strong>No return or exchange in the following cases: no clip, drop, water damage, exchange due to dissatisfaction,..</strong></li>
              </ul>
            Buyers can submit a <strong>return/refund request within <b style="color: red;">12 hours</b></strong> from the time the order is successfully delivered.<br ><br>
            All returns-refund requests must be made via <a style="color: red" href="https://www.facebook.com">Facebook</a>, <a style="color: red" href="https://www.instagram.com">Instagram</a> or Messages (0865663278).<br><br>
            DusTin always carefully considers Buyer's return/refund requests and reserves the right to make a final decision on such request based on the foregoing and in accordance with DusTin's Terms of Service.<br>
          </p>
      </div>
    </div>
  </div>

