 {{!-- <footer class="footer">
    <div class="logo"></div>
    <nav>
      <ul>
        <li>Footer</li>
        <li></li>
        <li></li>
      </ul>
    </nav>
  </footer> --}}

<footer class="footer-distributed">

    <div class="footer-left">
        {{!-- <div class="logo"></div> --}}
        <h3 id="logo-footer">Bard<span>Pod</span></h3>
        <p class="footer-links">
            <a href="/" class="link-1">Trang chủ</a>
            
            <a href="#">Vận chuyển</a>
        
            <a href="#">Thanh toán</a>
            
            <a href="#">Chính sách đổi trả</a>
            
        </p>

        <p class="footer-company-name">BardPod © 2022</p>
    </div>

    <div class="footer-center">
        <div>
            <ion-icon name="location-outline"></ion-icon>
            <p><a href="https://www.google.com/maps/place/%C4%90%C6%B0%E1%BB%9Dng+s%E1%BB%91+9,+ph%C6%B0%E1%BB%9Dng+4,+Qu%E1%BA%ADn+8,+Th%C3%A0nh+ph%E1%BB%91+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/@10.7424124,106.6678977,17z/data=!3m1!4b1!4m5!3m4!1s0x31752e56a427603d:0xafd2371d7539c0c7!8m2!3d10.7424071!4d106.6700917">
                <span>Đường số 9</span> Phường 4, Quận 8</a></p>
        </div>

        <div>
            <ion-icon name="call-outline"></ion-icon>
            <p><a href="tell:0865663278">0865.663.278 (Hotline)</a></p>
        </div>

        <div>
            <ion-icon name="location-outline"></ion-icon>
            <p><a href="https://www.google.com/maps/place/H%E1%BA%BBm+822+H%C6%B0%C6%A1ng+l%E1%BB%99+2,+B%C3%ACnh+Tr%E1%BB%8B+%C4%90%C3%B4ng+A,+B%C3%ACnh+T%C3%A2n,+Th%C3%A0nh+ph%E1%BB%91+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/@10.7636304,106.6062857,14z/data=!4m5!3m4!1s0x31752c4183703231:0x40defbf7bc18153e!8m2!3d10.7700841!4d106.6002452">
                <span>Hương Lộ 2</span> Bình Trị Đông, Bình Tân</a></p>
        </div>

        <div>
            <ion-icon name="call-outline"></ion-icon>
            <p><a href="tel:0703086663">07.03.08.6663</a></p>
        </div>

    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <span>Về BardPod</span>
            Chuyên pod chính hãng<br>
            Khách mua hàng tại instagram hoặc facebook<br>
            Ship toàn quốc<br>
            Sỉ vui lòng liên hệ 0355.303.251<br>
            Page Facebook: <a href="https://www.facebook.com/bardauth.pod">Bard Pod Chính Hãng</a> 
            </p>

        <div class="footer-icons">
            <a href="https://www.facebook.com/bardauth.pod"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/bard_storeee/"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-tiktok"></i></a>

        </div>

    </div>

</footer>

<script>
    $(document).ready(function($) {

  $(window).on('scroll', function() {

    //ADD .TIGHT
    if ($(window).scrollTop() + $(window).height() > $('.wrapper').outerHeight()) {
      $('body').addClass('tight');
      $('.arrow').hide();
    } else {
      $('body').removeClass('tight');
      $('.arrow').show();
    }
  });

  //BACK TO PRESENTATION MODE
  $("html").on("click", "body.tight .wrapper", function() {
    $('html, body').animate({
      scrollTop: $('.wrapper').outerHeight() - $(window).height()
    }, 500);
  });

});

$('.arrow').click(function(){
   $("html").animate({ scrollTop: $('html').prop("scrollHeight")}, 1200);
});
</script>