<div class="sub-header">
    <nav class="sub-nav">
        <ul id="sub-nav-left">

            {{#if user}}
                <li>
                    <a class="active" href="#">Welcome <b>{{user.name}}</b>!</a>
                    <div class="subnav-dropdown">
                      <br>
                      <a class="subnav-dropdown-items" href="#"><i class="fa fa-address-card"></i> My Account</a>
                      <hr>
                      <a class="subnav-dropdown-items" href="#"><i class="fa fa-shopping-cart"></i> My purchase</a>
                      <hr>
                      <a class="subnav-dropdown-items" href="#"><i class='fas fa-sign-out-alt'></i> Log out</>
                      <br><br>
                    </div>
                </li>
            {{else}}
                <li>
                    <a class="active" href="/login">Login</a>
                </li>
                <li>
                    <a href="/register">Register</a>
                </li>
            {{/if}}

        </ul>
    </nav>
</div>

  <header class="main-header" id="main-header">   
      <a href="/" class="logo-icon-header"><div id="logo-header">Phong<span>Store</span></div></a>
    <nav>
      <ul class="">
        {{!-- more than 6 is not beautiful --}}
        <a href="/product"><li>Sản phẩm</li></a>
        <a href="/product/manage"><li>Quản lý</li></a>
        <a href="/admin"><li>Admin</li></a>
        <a href="/login"><li>Login</li></a>
        <a href="#"><li>Về BardPod</li></a>
        <a href="#"><li>Lien he</li></a>

        <a href="javascript:void(0);" class="icon logo-icon-header" onclick="openNavResponsive()">
          <i class="fa fa-bars"></i>
        </a>

      </ul>
    </nav>
  </header>