
<div class="sub-header">
    <div class="arrow animated bounce"></div>
    <nav class="sub-nav">
        <ul id="sub-nav-left">

            {{#if user}}
                <li>
                    <a class="active" href="#">Welcome <b>{{user.name}}</b>!</a>
                    <div class="subnav-dropdown">
                      <br>
                      <a class="subnav-dropdown-items" href="#"><i class="fa fa-address-card"></i> My Account</a>
                      <hr>
                      <a class="subnav-dropdown-items" href="#"><i class="fa fa-shopping-cart"></i> My purchase</a>
                      <hr>
                      <a class="subnav-dropdown-items" onclick="logout()"><i class='fas fa-sign-out-alt'></i> Log out</a>
                      <br><br>
                    </div>
                </li>
                {{!-- <li>
                  <a href="#"><i class="fa fa-globe"></i> Change languages <i class="fa fa-chevron-down"></i></a>
                    <div class="subnav-dropdown subnav-lang-dropdown">
                      <br>
                      <a class="subnav-dropdown-items" href="#">Tiếng Việt</a>
                      <hr>
                      <a class="subnav-dropdown-items" href="#">English</a>
                      <br><br>
                    </div>
                </li> --}}
            {{else}}
                <li>
                    <a class="active" href="/login">Login</a>
                </li>
                <li>
                    <a href="/register">Register</a>
                </li>
                {{!-- <li>
                  <a href="#"><i class="fa fa-globe"></i> Change languages <i class="fa fa-chevron-down"></i></a>
                  <div class="subnav-dropdown subnav-lang-dropdown" style="right: 12%">
                    <br>
                    <a class="subnav-dropdown-items" href="#">Tiếng Việt</a>
                    <hr>
                    <a class="subnav-dropdown-items" href="#">English</a>
                    <br><br>
                  </div>
                </li> --}}
            {{/if}}

        </ul>
    </nav>
</div>


<header class="main-header" id="main-header">   
  {{!-- <a href="/" class="logo-icon-header"><div id="logo-header">Phong<span>Store</span></div></a> --}}
  <div class="row">
    <div class="col-lg-11 col-md-9 col-sm-6 col-9">
      <a href="/" class="logo-icon-header">
        <div id="logo-header">Phong<span>Store</span></div>
      </a>
    </div>

    <div class="col-lg-1 col-md-3 col-sm-6 col-3">
      <a class="icon logo-icon-header icon-responsive">
      <i id="icon-nav-responsive" class="fa fa-bars"></i>
    </a>
    </div>
  </div>
  
  <nav class="navbar-dropdown-items" id="navbar-dropdown-items">
    <ul>
      {{!-- more than 4 is not beautiful --}}
      <a href="/product"><li>Products</li></a>
      <a href="/product/manage"><li>Manage</li></a>
      <a href="/admin"><li>Admin</li></a>
      <a href="javascript:;" class="btn-info-scroll"><li>About Store</li></a>
    </ul>
  </nav>
</header>


