  <header>   
      <div id="logo-header">Bard<span>Pod</span></div>
    {{!-- <div class="logo"></div> --}}
    <nav>
      <ul class="nav navbar-nav">
        <a href="/product"><li>Sản phẩm</li></a>
        <a href="/product/manage"><li>Quản lý</li></a>
        <li>Về BardPod</li>
        <li>Liên hệ</li>
      </ul>
    </nav>
  </header>