
<div class="wrapper">
<div class="wrap">
  
  <div class="arrow animated bounce"></div>

  <section class="transparent">
    <div class="headline"></div>
    <div class="text"></div>
    <div class="text"></div>
    <div class="button"></div>
  </section> 
  <section class="cards">
    <div class="card">
      <img src="" alt="">
      <div class="content">
        <div class="headline"></div>
        <div class="text"></div>
        <div class="text"></div>
        <div class="button"></div>
      </div>
    </div>
    <div class="card">
      <img src="" alt="">
      <div class="content">
        <div class="headline"></div>
        <div class="text"></div>
        <div class="text"></div>
        <div class="button"></div>
      </div>
    </div>
    <div class="card">
      <img src="" alt="">
      <div class="content">
        <div class="headline"></div>
        <div class="text"></div>
        <div class="text"></div>
        <div class="button"></div>
      </div>
    </div>
  </section>
  
  <section class="contentbox">
    <div class="headline"></div>
    <div class="text"></div>
    <div class="text"></div>
    <div class="text"></div>
    <div class="button"></div>
  </section>
  
</div>
</div>
  

