
<div class="row">
    <div class="col-6">
        <form action="/validation" method="POST" class="form-control mt-4">
            <h1 class="text-center">Login form</h1>
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" id="email">

            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password">
            <button type="submit" value="submit" class="btn btn-success">Login</button>
        </form>
    </div>

    <div class="col-6">
        <form action="/store" method="POST" class="form-control mt-4">
            <h1 class="text-center">Register form</h1>
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" id="email">

            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password">
            <button type="submit" value="submit" class="btn btn-success">Register</button>
        </form>
    </div>
</div>