
    <a href="/register">
        <div class="login-sidenav">
            <div class="login-main-text">
            <h2> Login Page</h2>
            <p class="text-muted">Click here to <span>REGISTER</span> if you don't have an account</p>
            </div>
        </div>
    </a>

    <div class="login-main">
        <div class="col-md-6 col-sm-12">
        <div class="login-form p-3">
            {{!-- <form action="/validation" method="POST"> --}}
                <div class="form-group">
                    <label>User Name</label>
                    <input type="text" id="username" name="username" class="form-control mt-2" placeholder="Enter username">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" id="password" name="password" class="form-control mt-2" placeholder="Enter password">
                </div>
                <div class="mt-1 row">
                    <div class="col">
                    </div>

                    <div class="col">
                    <!-- Simple link -->
                        <a href="#!"><i>Forgot password?</i></a>
                    </div>
                </div>

                {{#if msgLog}}
                    <div class="p-2 alert alert-danger mt-1" role="alert">
                        <span>{{msgLog}}</span>
                    </div>
                {{/if}}

                <div class="mt-4">
                    <button type="submit" onclick="login()" class="btn btn-black">Login</button>
                </div>
            {{!-- </form> --}}
        </div>
        </div>
    </div>